<div class="branches" *ngIf="currentBranch && currentBranch.PostalAddress">
  <div class="branch-info">
    <span class="label">Branch Name :</span> 
    <span class="value">{{currentBranch.Name}}</span>
  </div>
  <div class="branch-info">
      <span class="label">Address: </span>
      <span *ngFor="let addressLine of currentBranch.PostalAddress.AddressLine">
        {{addressLine}}
      </span>,
      {{currentBranch.PostalAddress.TownName}}, {{currentBranch.PostalAddress.Country}}.
      <span>Pin: </span>
      <span>{{currentBranch.PostalAddress.PostCode}}</span>
  </div>
  <div class="branch-info">
      <span class="label">
        Contact Details : 
      </span>
      <span class="value">
        {{currentBranch.ContactInfo[0].ContactContent}}
      </span>
  </div>

</div>
