<div class="branches">
  <div class="search-container">
    <input type="search" placeholder="Search" [(ngModel)]="searchText">
  </div> 
  <div class="branch-container" *ngIf="branchList">
    <div  *ngFor="let branch of branchList | FilterPipe : searchText">
      <a routerLink="/detail/{{branch.Identification}}">
        <span>{{branch.Name}}</span>
      </a>
    </div>
  </div>
  <div class="loader" *ngIf="!branchList">
      <img src="../../assets/2.gif"/>
   </div>
</div> 
