.branches .branch-container {
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
}
.branches .branch-container > div{
    border-top: 1px solid black;
    padding: 10px;
}

.branches input {
    height: 40px;
    border-radius: 10px;
    width: 200px;
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
}

.search-container {
    text-align: center;
}

.branches a, .branches a:hover, .branches a:active {
    text-decoration: none;
    color: black;
}

.loader {
    text-align: center;
}